!!!
html
  head
    title Arkanoid
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  body
    .messages
      ul.infos!= flash.info ? '<li>' + flash.error.join('</li><li>') + '</li>' : ''
      ul.errors!= flash.error ? '<li>' + flash.error.join('</li><li>') + '</li>' : ''
    .content!= body